In [1]:
library("readxl")
library(multcomp)

Ładowanie wymaganego pakietu: mvtnorm

Ładowanie wymaganego pakietu: survival

Ładowanie wymaganego pakietu: TH.data

Ładowanie wymaganego pakietu: MASS


Dołączanie pakietu: 'TH.data'


Następujący obiekt został zakryty z 'package:MASS':

    geyser

In [2]:
# Read the data
data <- read_excel("Results/results_to_stat_analysis.xlsx")

New names:
• `` -> `...1`

In [3]:
head(data)

  ...1 similarity precision recall   group
1 0    75.41667   83.66434  84.70770 results_baseline
2 1    78.84804   81.37277  83.14360 results_baseline
3 2    82.81863   87.04117  86.58854 results_baseline
4 3    84.34699   86.74734  88.64668 results_baseline
5 4    83.23529   85.69975  89.11635 results_baseline
6 5    80.93137   84.53683  85.95052 results_baseline

In [4]:
# Select systems for statistical analysis an normality testing
baseline = data[which(data$group == 'results_baseline'),]
prep = data[which(data$group == 'results_prep'),]
ss2 = data[which(data$group == 'results_ss2'),]

In [5]:
# Select systems for statistical testing
data_to_test = data[which(data$group == 'results_baseline' |
                          data$group == 'results_prep' |
                          data$group == 'results_ss2'),]

In [6]:
# Check homogeneity of variance
bartlett.test(data_to_test$similarity, data_to_test$group)

	Bartlett test of homogeneity of variances

data:  data_to_test$similarity and data_to_test$group
Bartlett's K-squared = 2.3543, df = 2, p-value = 0.3082

In [7]:
# Check normality of the distribution; baseline
shapiro.test(baseline$similarity)

	Shapiro-Wilk normality test

data:  baseline$similarity
W = 0.97995, p-value = 0.8242

In [8]:
# Check normality of the distribution; prep
shapiro.test(prep$similarity)

	Shapiro-Wilk normality test

data:  prep$similarity
W = 0.95891, p-value = 0.2904

In [9]:
# Check normality of the distribution; ss2
shapiro.test(ss2$similarity)

	Shapiro-Wilk normality test

data:  ss2$similarity
W = 0.96064, p-value = 0.3216

In [10]:
anova_similarity = aov(data_to_test$similarity ~ data_to_test$group)

In [11]:
summary(anova_similarity)

                   Df Sum Sq Mean Sq F value   Pr(>F)
data_to_test$group  2  138.5   69.26   9.207 0.000236 ***
Residuals          87  654.5    7.52
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

In [12]:
pairwise.t.test(data_to_test$similarity, data_to_test$group)

	Pairwise comparisons using t tests with pooled SD

data:  data_to_test$similarity and data_to_test$group

             results_baseline results_prep
results_prep 0.05615          -
results_ss2  0.00014          0.05615

P value adjustment method: holm